*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: BlinkMacSystemFont,-apple-system,Roboto,Helvetica,Arial,sans-serif;
}
/* Header Part */
.Header_Container{
    background-image: url(Assests/flight_home_bg_v5.webp);
    width: 100%;
    height: 72vh;
    background-size: cover;
    background-position: 85% 15%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.Top_Part{
    width: 100%;
    height: 15%;
    /* border: 2px solid red; */
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 30px;
}
.logo{
    width: 8em;
    height: 9em;
}
.flag{
    width:25px;
    height:auto;
}
.nav{
    width: 47%;
    /* border: 2px solid gold; */
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    overflow-x: hidden;
    padding: 7px;
}
.nav ul{
    display: flex;
    list-style: none;
    color:rgba(255, 255, 255, 0.8);
    gap: 25px;
    align-items: center;
    
}
.nav ul li{
    /* border: 2px solid black; */
    width: max-content;
}
.nav ul li:hover{
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 7px;
    color: white;
}
.active:active{
    text-decoration: underline;
    text-underline-offset: 7px;
    color: white;
}
.right_section{
    color: white;
    /* border: 2px solid red; */
    width: max-content;
    height: max-content;
    display: flex;
    gap: 12px;
    align-items: center;
    margin-right: 30px;
}
.right_section p{
    font-size: 0.8rem;
    font-weight: 400;
    padding: 9px 8px 9px 8px;
    border-radius: 5px;
}
.right_section p:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.3);
}
.Search_box{
    width: max-content;
    padding: 9px 8px 9px 8px;
    border-radius: 5px;
    font-weight:200 !important;
    background: rgba(255, 255, 255, 0.3);
    margin-right: -5px;
}
.Search_box:hover{
    cursor: pointer;
    background-color: white !important;
    color: blue;
}
.right_section button{
    width: max-content;
    padding: 9px 8px 9px 8px;
    font-weight: bold;
    border-radius: 5px;
    background-color: white;
   border: none;   
}
.right_section button:hover{
    color: blue;
    cursor: pointer;
}
.Hamburger{
    display:none;
}
.Bottom_Part{
    width: auto;
    height: 63%;
    
    /* border: 2px solid red; */
}
.Bottom_Part h1{
    color: white;
    font-size: 40px;
    padding-left: 50px;
    padding-bottom: 13px;
}
.roundshape{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ffb400;
    margin-left: 10px;
}
.sub_BottomPart{
    width: auto;
    height: 78%;
    /* border: 2px solid green; */
    margin: 0% 6% 0% 4%;
    border-radius: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    /* flex-wrap: wrap; */
}
.radio_check_buttons{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 0px 25px;
    /* font-size: 14px; */
    /* color: #0f294d; */
}
.radio_buttons,.check_button{
    font-size: 14px;
    display: flex;
    gap: 10px;
}
.searchbox_Bottom_part{
    display: flex;
    justify-content: space-evenly;
    
}
.searchbox_Bottom_part input{
   width: 23%;
   padding: 15px;
   border-radius: 5px;
   border:1px solid #dadfe6;
   font-weight: 700;
   
}
.dropdown{
    width: 24%;
    height: 60px;
    padding: 10px;
    border-radius: 5px;
    border:1px solid #dadfe6;
    font-weight:bold;

}
.second_searchbox_Bottom_part{
    display: flex;
    flex-direction: row-reverse;
    gap: 6px;
    padding-right: 10px;
}
.second_searchbox_Bottom_part button{
    width: 15%;
    padding: 15px;
    height: 60px;
    border-radius: 5px;
}
.second_searchbox_Bottom_part_color{
    background-color: #3264ff;
    color: white;
    font-size: 20px;
    border: none;
}
.second_searchbox_Bottom_part_border{
    font-size: 20px;
    border: 1px solid #3264ff;
    color: #3264ff;
    background-color: rgba(50, 100, 255, 0.16);
}
.main{
    width: 100%;
    height: auto;
    border: 2px solid red;
    border-radius: 25px 25px 0px 0px;
    margin-top: -20px;
    background-color: white;
    padding-bottom: 40px;
}
.section1,.section2{
    width: auto;
    /* height: 280px; */
    border: 2px solid black;
    margin: 0% 6% 0% 4%;
    padding: 10px 0px 10px 0px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}
.header_section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_part_section1{
    display: flex;
    gap: 10px;
}
.main{
    background-color: #f5f7fa;
}
.Box_section1{
    display: flex;
    justify-content: space-between;
}
.subbox{
    width: 24%;
    height: 31vh;
    border:1px solid#dadfe6;
    padding: 15px;
    border-radius: 8px; 
}
.p1{
    font-size: 18px;
    font-weight: medium;
    padding-top: 5px;
}
.p2{
    font-size: 14px;
    line-height: 22px;
    color: #8692a6;
}
.subbox a{
    font-size: 12px;
    line-height: 30px;
}
.p2 span{
    color: #0f294d;
}
.bg-img-section2{
   background-image: url(Assests/bg_Section2.png);
   width: 65%;
   height: 620px;
   border-radius: 10px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.logo_section2{
    width: 10rem;
    height: 4rem;
    padding-left: 20px;
}
.h1_section2{
    padding: 10px;
    background-color:rgba(22, 40, 74, 0.4   );
    width: max-content;
    color: white;
    border-radius: 5px;
    margin: 40px 0px 0px 15px;
}
.bg-map-section2{
    height: 620px;
    width: 33.5%;
    background-image: url(Assests/map_section2.png);
   opacity:3;
   border: 2px solid white;
   border-radius: 10px;
   position: relative;
}
.box_section2{
    display: flex;
    justify-content: space-between;
}
.bg-map-section2 button{
    position: absolute;
    top: 90%;
    left: 32%;
    padding: 10px;
    background-color: #3264ff;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.section3{
width: auto;
border: 2px solid black;
margin: 0% 6% 0% 4%;
padding: 10px 0px 10px 0px;
margin-top: 30px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.content_left_section3 p{
    color: #455873;
    font-size: 12px;
    line-height: 16px;
}
.left_section3 img{
    height: 60px;
    width: 60px;
}
.left_section3{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 20px;
}
.right_section3{
    /* border: 2px solid paleturquoise; */
    width: 50%;
    margin-right: 20px;
}
.mobile_code_section3{
    width: 350px;
    border: 1px solid #dadfe6;
    height: 34px;
    font-size: small;
    border-radius: 4px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 5px;
    background-color: white;
}
.search_box_section3 input{
    width: 349px;
    padding-left: 10px;
    border: none;
    color: #0f294d;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    outline: none;
}
.button_sec3{
    width: max-content;
    padding: 9px;
    background-color: #3264ff;
    font-size: 16px;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.mobile_section3 p{
    font-size: 12px;
    line-height: 16px;
    color: #455873;
}
.mobile_section3{
    width: auto;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    width: 500px;
}
.match{
    display: flex;
    align-items: center;
    gap: 9px;
}
.search_box_section3{
    width: max-content;
    display: flex;
    gap: 40px;
    margin-top: -17px;
    /* border: 2px solid blue; */
}
.qrcode p {
    font-size: 8px;
}
.section4{
    width: auto;
    border: 2px solid black;
    margin: 0% 6% 0% 4%;
    padding: 10px 0px 10px 0px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    
}
.img_section4{
    display: flex;
    justify-content: space-between;
}
.img_section4 img{
    width: 376px;
    height: 188px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    overflow:hidden;
}
