@import url('https://fonts.cdnfonts.com/css/sf-pro-display?styles=98774,98777,98776,98772,98773,98775,98770,98771,98769');


@import url('https://fonts.cdnfonts.com/css/sf-ui-text-2?styles=17879,17880,17875,17876,17877,17878,17881,17882,17871,17872,17873,17874');


* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}   
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'SF UI Text', sans-serif;
 }
 
  

 :root{
    --sky-blue:rgb(50,100,255);
    --white:rgb(255,255,255);
    --light-white:hsla(0,0%,100%,.3);
    --header-color:rgb(205,216,252);
    
 }
.header-left{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
}
nav{
    font-family: 'SF UI Text', sans-serif;
    font-weight: 200;
                                                
}
.header-left .search{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color:var(--white);
    align-items: center;
    justify-content: space-between;
    padding: 0 3px ;
    border-radius: 4px;
    
}
.search input, button{
    padding: 10px;
    float: left;
    border-style: none;
    margin: 1px 0 1px 0;
}
.search input{
    width: 15rem;
}
.header-top{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;    
    margin: 10px 0px 10px 0px;
    padding: 2px;
}
.search button{
    background-color: var(--sky-blue);
    border-radius:4px;
    color: var(--white);

}
.header-right{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;

}
.header-right .b{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.bg{
    background-image: url("./assests/head-banner-bg-new-1920.webp");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-right .a{
    color: var(--white);
    align-content: center;
    padding: 0.5rem;
}
.header-right .a:hover{
    background-color: var(--light-white);
    border-radius: 5px;
}


.header-right img{
    width: 25px;
    
}

.logo{
    width: 10rem;
    height: 3rem;
}

/* body{
 background-image: url(./assests/head-banner-bg-new-1920.webp);
 filter: brightness(100%);
 background-repeat: no-repeat;
 width: 100%;
 background-size: 150%;
 
} */

.header-right .Search-bookings{
    border-radius: 4px;
    background-color: var(--light-white);
    color: var(--white); 
    height: 32px;
}
.header-right .Search-bookings:hover{
    background-color: var(--white);
    color: var(--sky-blue);

}
.header-right .sign{
    border-radius: 4px;
    height: 32px;
    background-color: white;
    
}
.header-right .sign:hover{
    text-align: center;
    color: var(--sky-blue);
}

.below-header{
    width: 75%;
    
}
.below-header .pages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.below-header .pages  .page  p a{
    text-decoration: none;
    color: var(--header-color);

}
.below-header .pages  .page  p:hover{
    color: var(--white);

}

.header{
 margin: 0 30px;
}



.A{
   margin: 5rem;

}


.A .trip-sections .trip-header{
    color: #fff;
    font-family: 'SF UI Text', sans-serif;
    font-size: 36px;
    font-weight: 700;
   text-align: center;
    width: 100%;
}
.A .trip-sections{
    margin-bottom: 40px;
}
.trip-elements{
align-items: center;
gap: 10px;
margin-top: 20px;
}
.trip-sections .trip-elements{
    width: 100%;
    display: flex;
    flex-direction: row;
  justify-content: center;
}
.trip-elements img{
    width: 20px;
    
}
.trip-elements .sub-elements{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'SF UI Text', sans-serif;
    font-weight: 100;
    color: var(--white);
    text-overflow: ellipsis;
}
.trip-elements  .seperate{
    display: inline-block;
    width: 2px;
    height: 12px;
    padding-left: 12px;
    box-sizing: border-box;
    border-left: 1px solid #ced2d9;
}
.trip-elements .sub-elements .line{
    width: 100%;
    height: 0;
    border-bottom: 1px dashed var(--white);
}
.search-box .options-container{
    position: relative; 
      margin-top: -23px; 
      top: 23px; 
      display: flex; 
      justify-content: center; 
      z-index: 1;
}

.search-box .options-container ul, li {
    
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    z-index: 3;
}
 
.options-container ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.options-container::before{
    content: "";
    display: table;
}



.option-container { 
    position: relative; 
    padding-top: 40px;
} 

.option-container  { 
    padding-top: 0;
} 

.option-1 { 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 10;
} 

.option-1  { 
    position: relative; 
    margin-top: -23px; 
    top: 23px; 
    display: flex; 
    justify-content: center; 
    z-index: 1;
} 

.option-x:after,.option-x:before { 
    content: ""; 
    display: table;
} 

.option-a:after { 
    clear: both;
} 

.box-forms { 
    min-height: 160px; 
    background-color: #fff; 
    border-radius: 0 2px 2px 2px;
} 

.box-forms.box-radius { 
    border-radius: 2px;
    position: relative;
    top: 10px;
} 

.box-forms  { 
    border-radius: 8px; 
    padding-top: 23px;
} 

.box-formss.box-radius  { 
    border-radius: 8px;
} 

ul { 
    margin: 0; 
    list-style: none;
} 

ul { 
    padding: 0;
} 

.option-tabs  { 
    background: rgba(6, 32, 68, 0.8); 
    -webkit-backdrop-filter: blur(6px); 
    backdrop-filter: blur(6px); 
    display: flex; 
    justify-content: center; 
    border-radius: 46px; 
    position: relative; 
    z-index: 2; 
    padding: 7px;
} 

.option-item { 
    float: left; 
    font-size: 16px; 
    color: #fff; 
    height: 40px; 
    line-height: 40px; 
    padding: 0 24px; 
    cursor: pointer; 
    
} 

.option-item  { 
   
    position: relative; 
    padding: 5px 16px; 
    text-align: center; 
    line-height: 21px; 
    height: 22px; 
    border-radius: 32px; 
    color: #fff;
} 

.option-item:not(:last-child)  { 
    margin-right: 16px;
} 

.option-item.is-active { 
    background-color: #fff; 
    color: #0f294d; 
    border-radius: 2px 2px 0 0; 
    cursor: default;
} 

.option-item.is-active  { 
    background-color: #fff; 
    color: #0f294d;
    border-radius: 20px;

} 

.search-box-icon { 
    box-shadow: 0 8px 10px 0 rgba(15,41,77,.08);
} 

#searchboxicon .search-box-icon  { 
    box-shadow: none; 
    border-bottom-right-radius: 8px; 
    border-bottom-left-radius: 8px;
} 

.hotel-box { 
    font: 12px/1.5 Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-weight: 400;
} 

.hotel-box { 
    width: 100%; 
    min-width: 704px; 
    margin: 0 auto; 
    padding: 24px; 
    background: #fff; 
    box-sizing: border-box; 
    border-radius: 8px;
} 

     

#searchboxicon .search-box-icon > div  { 
    box-shadow: none; 
    border-bottom-right-radius: 8px; 
    border-bottom-left-radius: 8px;
} 

#searchboxicon .search-box-icon > div  { 
    padding-top: 25px!important;
} 

.hotel-box .ul-block  { 
    margin: 0; 
    padding: 0; 
    list-style: none;
} 

.hotel-box .ul-block  { 
    width: 100%; 
    list-style: none; 
    display: flex; 
    flex-wrap: wrap;
    gap: 10px;
} 

    

.hotel-box .sub-choice  { 
    display: flex; 
    align-items: center; 
    margin-top: 16px;
} 

.hotel-box li  { 
    margin: 0; 
    padding: 0; 
    list-style: none;
} 

.hotel-box .ul-block .li-item  { 
    display: inline-block; 
    vertical-align: top; 
    box-sizing: border-box;
} 



  .hotel-box .isSearchBarVersionB .ul-block .li-item-destination  { 
    flex: 1 1; 
    min-width: 200px;
  } 

  .hotel-box.isSearchBarVersionB .ul-block .li-item-calendar  { 
    flex: 1 1; 
    min-width: 292px;
  } 

  .hotel-box .isSearchBarVersionB .ul-block .li-item:not(:first-child)  { 
    margin-left: 8px;
  } 

  .hotel-box.isSearchBarVersionB .ul-block .li-item-roomguest  { 
    flex: 1 1;
  } 


.hotel-box .ul-block .li-item-btn  { 
    
    overflow: hidden;
} 

     

.travel-container { 
    display: inline-flex; 
    align-items: center;
} 

.star-rate-container { 
    display: inline-flex; 
    align-items: center;
} 

.search-container { 
    position: relative; 
    width: 100%; 
    height: 100%;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 7px;
} 

.calendar-container { 
    display: inline-flex; 
    justify-content: space-between; 
    position: relative; 
    width: 100%; 
    height: 100%;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 7px;
} 

.room-guest-container { 
    width: 100%; 
    height: 100%; 
    min-width: 160px; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    user-select: none; 
    position: relative; 
    outline: none;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 7px;
} 

.search-btn-wrap { 
    background: #3264ff; 
    width: 100%; 
    height: 100%; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    color: #fff; 
    border: none; 
    cursor: pointer;
    border-radius: 7px;
} 

.search-btn-wrap:hover { 
    background: #264cc2;
} 

.travel-container *  { 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    user-select: none;
} 

.travel-container .label  { 
    display: inline-flex; 
    align-items: center; 
    cursor: pointer; 
    color: #333!important;
} 

.hotel-box .label  { 
    font-size: 12px; 
    letter-spacing: 0; 
    text-align: left; 
    line-height: 18px; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    user-select: none; 
    display: inline-block; 
    color: #8592a6;
} 

.main-2{
    background-color: var(--light-white);
}

.travel-container .label:hover { 
    color: #3264ff!important;
} 

.smarticon { 
    font-family: smarticon!important; 
    font-size: 16px; 
    font-style: normal; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

.hotel-box i  { 
    font-weight: 400; 
    font-style: normal;
} 

.travel-container .tip  { 
    font-size: 16px; 
    margin-right: 10px;
} 

.travel-container .tip  { 
    color: #0f294d; 
    cursor: default; 
    outline: none;
} 

.u-icon-ic_new_info:before { 
    content: "\E91F";
} 

.travel-container .tip::before { 
    color: #0f294d;
} 

.travel-container .business  { 
    position: fixed; 
    width: 300px; 
    transform: translateX(-50%); 
    background: #fff; 
    padding: 14px 10px; 
    border-radius: 4px; 
    box-shadow: 0 -2px 14px 0 rgba(100,147,227,.3); 
    z-index: 10; 
    font-size: 12px;
} 

.travel-container .business::after { 
    content: ""; 
    border: 12px solid transparent; 
    border-bottom-color: #fff; 
    position: absolute; 
    top: -20px; 
    left: 50%; 
    transform: translateX(-50%);
} 

.star-rate-container *  { 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    user-select: none;
} 

.star-rate-container .star-rate  { 
    margin-right: 6px; 
    cursor: pointer; 
    font-size: 14px; 
    color: #333; 
    line-height: 18px; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    user-select: none; 
    display: inline-block;
} 

.star-rate-container .rate  { 
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    background: #f0f2f5; 
    border-radius: 4px 4px 4px 4px; 
    width: 53px; 
    height: 22px; 
    margin-right: 6px; 
    font-size: 14px; 
    color: #0f294d; 
    cursor: pointer; 
    border: 1px solid transparent;
} 

.star-rate-container .rate:hover { 
    color: #3264ff;
} 

.search-container .search-box  { 
    position: relative; 
    height: calc(100% - 2px); 
    display: flex; 
    margin: 0 16px; 
    width: calc(100% - 32px);
} 

 .search-container .search-box:hover { 
    outline: none; 
    border-bottom: 2px solid #3264ff; 
    border-radius: 0; 
    margin-bottom: -2px;
} 

.calendar-container .time-tab  { 
    position: absolute; 
    width: calc(50% - 24px); 
    height: 100%;
} 

.calendar-container .time-tab.checkin  { 
    top: 0; 
    left: 0;
} 

.calendar-container .nights  { 
    position: absolute; 
    font-size: 14px; 
    color: #0f294d; 
    line-height: 18px; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%); 
    z-index: 3; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    user-select: none;
} 

.calendar-container .time-tab.checkout  { 
    top: 0; 
    right: 0;
} 

.room-guest-container *  { 
    box-sizing: border-box; 
    color: unset;
} 

.room-guest-container .room-guest  { 
    width: 100%; 
    height: 100%; 
    position: relative; 
    padding: 6px 16px;
} 

.room-guest-container .room-guest:hover { 
    padding: 6px 0; 
    margin: 0 16px; 
    width: calc(100% - 32px); 
    border-bottom: 2px solid #3264ff;
} 

.room-guest-container .choice  { 
    position: absolute; 
    top: calc(100% + 12px); 
    border-radius: 8px; 
    z-index: 9; 
    left: -1px; 
    background: #fff; 
    width: 300px; 
    padding: 16px 0 16px 16px; 
    border: 1px solid #ddd; 
    cursor: pointer;
} 

p { 
    margin: 0;
} 

.search-btn-wrap .search-block  { 
    display: flex;
    padding: 0 16px; 
    font-size: 18px;
} 

.travel-container .checkbox  { 
    font-size: 16px; 
    margin-right: 10px;
} 

.u-icon-checkbox:before { 
    content: "\E680";
} 

.travel-container .tips  { 
    font-size: 14px; 
    margin-right: 5px;
} 

.travel-container .business .icon-business  { 
    font-size: 16px; 
    position: relative; 
    top: -3px;
} 

.u-icon-ic_new_fa_business:before { 
    content: "\E9B7";
} 

.travel-container .business p  { 
    margin-left: 10px; 
    line-height: 1.3;
} 

.hotel-box em  { 
    font-weight: 400; 
    font-style: normal;
} 

.hotel-box em  { 
    font-style: unset;
} 

.star-rate-container em  { 
    font-style: normal;
} 

.star-rate-container .rate .star-rate-icon  { 
    margin-left: 4px; 
    font-size: 14px;
} 

.u-icon-ic_new_star_line:before { 
    content: "\E8D7";
} 

.search-container .search-box label  { 
    position: absolute; 
    top: 8px; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap; 
    max-width: calc(100% - 16px);
} 

.search-container .search-box .inputBarWidth  { 
    width: -moz-min-content; 
    width: min-content; 
    max-width: 100%; 
    overflow: hidden;
} 

.search-container .search-box label.searchBarVersionBLabel  { 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap; 
    padding: 32px 0 0; 
    line-height: 16px; 
    font-size: 12px; 
    color: #8592a6; 
    position: unset; 
    flex-basis: content; 
    flex-shrink: 0; 
    margin-left: 4px; 
    max-width: 50%;
} 

.calendar-container .time-tab .in  { 
    position: absolute; 
    top: 8px; 
    left: 16px;
} 

.hotel-box input  { 
    outline: 0; 
    background: transparent;
} 

.hotel-box.show-hightlight  { 
    font-weight: 700; 
    font-size: 14px; 
    color: #0f294d!important; 
    letter-spacing: 0; 
    text-align: left; 
    line-height: 22px;
} 

.calendar-container .time-tab .focus-input  { 
    width: calc(100% - 32px); 
    height: 100%; 
    padding: 26px 0 0; 
    margin: 0 16px; 
    border: none; 
    border-bottom: 2px solid transparent; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    box-sizing: border-box; 
    outline: none;
} 

.calendar-container .time-tab .out  { 
    position: absolute; 
    top: 8px; 
    right: 16px;
} 

.calendar-container .time-tab .out-time  { 
    text-align: right;
} 

.room-guest-container .room-guest .label  { 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap; 
    max-width: calc(100% - 16px);
} 

.room-guest-container .room-guest .info  { 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
} 

.room-guest-container .room-guest .material-symbols-outlined  { 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    right: 10px; 
    font-size: 16px;
} 

.u-icon-ic_new_dropdown_line:before { 
    content: "\E8C5";
} 

.room-guest-container .choice-content  { 
    max-height: 366px; 
    overflow-y: scroll; 
    padding-right: 16px; 
    margin-right: -6px;
} 

.room-guest-container .choice-content::-webkit-scrollbar { 
    width: 4px;
} 

.room-guest-container .choice-content::-webkit-scrollbar-thumb { 
    border-radius: 0; 
    background-color: #b6bec9;
} 

.room-guest-container .done  { 
    text-align: right; 
    margin-top: 16px; 
    margin-right: 16px;
} 

.search-btn-wrap .icon-search  { 
    font-size: 16px; 
    margin-right: 5px;
} 

.u-icon-ic_new_search_line:before { 
    content: "\E8D6";
} 

.search-container .search-box #hotels-destination  { 
    box-sizing: border-box; 
    height: 100%; 
    padding: 26px 0 0; 
    width: 100%; 
    border: none; 
    border-bottom: 2px solid transparent; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    font-weight: 700;
} 

.search-container .search-box #input-length-cacl  { 
    visibility: hidden; 
    position: relative; 
    font-weight: 700; 
    font-size: 14px; 
    margin-right: 4px; 
    white-space: nowrap;
} 

.room-guest-container .child-kid  { 
    margin-bottom: 15px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
} 

.room-guest-container .done span  { 
    display: inline-block; 
    color: #fff; 
    border-radius: 4px; 
    background: #3264ff; 
    cursor: pointer; 
    font-size: 14px; 
    min-width: 72px; 
    line-height: 34px; 
    height: 34px; 
    text-align: center;
} 

.room-guest-container .child-kid .label  { 
    display: inline-block;
} 

.room-guest-container .actions  { 
    display: flex; 
    align-items: center;
} 

.room-guest-container .child-kid .label .title  { 
    color: #0f294d; 
    font-size: 16px;
} 

.room-guest-container .child-kid .label .sub-title  { 
    display: block; 
    font-size: 12px; 
    line-height: 1; 
    color: #6b8299;
} 

.room-guest-container .actions .icon-btn  { 
    width: 24px; 
    height: 24px; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    border-width: 1px; 
    border-style: solid; 
    border-radius: 50%; 
    background: #fff; 
    color: #3264ff; 
    vertical-align: middle;
} 

.room-guest-container .actions .icon-btn.disabled  { 
    cursor: default; 
    border-color: #dadfe6; 
    color: #dadfe6;
} 

.room-guest-container .actions .icon-btn:hover { 
    background: #3264ff; 
    border: 1px solid #3264ff; 
    color: #fff; 
    cursor: pointer;
} 

.room-guest-container .actions .count  { 
    font-size: 18px; 
    color: #0f294d; 
    width: 36px; 
    text-align: center;
} 

.room-guest-container .actions .icon-btn .action-btn  { 
    position: relative; 
    font-weight: 700; 
    -moz-user-select: none; 
    user-select: none; 
    -webkit-user-select: none;
} 

.u-icon-ic_minus:before { 
    content: "\E6A2";
} 

.u-icon-ic_plus:before { 
    content: "\E6B0";
} 
#style-1.style-1 {  
   min-height: unset;  
}  
#style-2.style-2 {  
   display: block;  
}  
#style-JPr7A.style-JPr7A {  
   display: none;  
}  
#style-oBjjo.style-oBjjo {  
   margin-right: 30px;  
}  
#style-xEHGV.style-xEHGV {  
   display: none;  
    pointer-events: auto;  
    left: 7px;  
    top: 30px;  
}  
.main-2{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: wheat;
    padding: 1rem 10rem;

}
.main-2 .A-a .promotion{
    

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    
}

.main-2 .A-a .promotion {
    width: 100%;
    border-radius: 10px;
    
}

.promotion.image-box {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 540px;
}
.promotion.image-box img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.promotion .image-box:hover img {
    transform: scale(0.9);
}


.online-item  { 
    transform: translateZ(0); 
    border-radius: 8px; 
    overflow: hidden;
} 

.online-item  { 
    display: inline-block; 
    box-sizing: border-box; 
    width: 768px; 
    height: 188px; 
    margin-right: 16px;
} 

.marquee-single { 
    display: inline-block; 
    box-sizing: border-box; 
    line-height: 0; 
    padding: 0; 
    position: relative;
} 

.marquee-single  { 
    transform: translateZ(0); 
    border-radius: 8px; 
    overflow: hidden;
} 

a { 
    color: #333; 
    text-decoration: none;
} 

.online-item .online-advertize-item-link  { 
    width: 100%; 
    height: 100%; 
    display: inline-block; 
    box-sizing: border-box; 
    text-decoration: none; 
    overflow: hidden;
} 

.marquee-single .nav-arrow  { 
    position: absolute; 
    z-index: 10; 
    cursor: pointer; 
    background: #fff; 
    border: 1px solid #f0f2f5; 
    box-sizing: border-box; 
    text-align: center; 
    display: block; 
    background-position: 50%; 
    background-repeat: no-repeat; 
    background-color: #fff; 
    transition: all .3s; 
    opacity: 0; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat;
} 

.marquee-single .nav-arrow.arrow-left  { 
    left: 0;
} 

.marquee-single .marquee-rounded .nav-arrow  { 
    width: 32px; 
    height: 40px; 
    top: calc(50% - 20px); 
    background-size: 20px 20px;
} 

.nav-arrow.arrow-left  { 
    z-index: 1;
} 

.marquee-single .marquee-rounded .nav-arrow.arrow-left  { 
    border-radius: 0 20px 20px 0; 
    border-left: 0; 
    background-position-x: 0; 
    background-image: url(https://ak-s.tripcdn.com/modules/ibu/online-home/54938278a32438a7178092b3c3331ff9.54938278a32438a7178092b3c3331ff9.svg);
} 

.marquee-single:hover .nav-arrow { 
    opacity: .8;
} 

.marquee-single .nav-arrow:hover { 
    background-color: #3264ff; 
    border: 1px solid #3264ff; 
    opacity: 1;
} 

.marquee-single .marquee-rounded:hover .nav-arrow { 
    opacity: 1; 
    background-color: hsla(0,0%,100%,.9);
} 

.marquee-single .marquee-rounded:hover .nav-arrow:hover { 
    background-color: #3264ff; 
    border: 1px solid #3264ff; 
    opacity: 1;
} 

 .marquee-single .marquee-rounded .nav-arrow.arrow-left:hover { 
    background-image: url(https://ak-s.tripcdn.com/modules/ibu/online-home/a53278b07986c091196890d3c5c8eeaa.a53278b07986c091196890d3c5c8eeaa.svg);
} 

.marquee-single.marquee-rounded:hover .nav-arrow.arrow-left:hover { 
    border-left: transparent;
} 

.marquee-single .nav-arrow.arrow-right  { 
    right: 0;
} 

.nav-arrow.arrow-right  { 
    z-index: 1;
} 

.marquee-single .marquee-rounded .nav-arrow.arrow-right  { 
    border-radius: 20px 0 0 20px; 
    border-right: 0; 
    background-position-x: 10px; 
    background-image: url(https://ak-s.tripcdn.com/modules/ibu/online-home/81abc8852a139d3ac893fdfb3a36eba4.81abc8852a139d3ac893fdfb3a36eba4.svg);
} 

 .marquee-single .marquee-rounded .nav-arrow.arrow-right:hover { 
    background-image: url(https://ak-s.tripcdn.com/modules/ibu/online-home/5a2a7199692380d56b711774f6c165b4.5a2a7199692380d56b711774f6c165b4.svg);
} 

.marquee-single  .marquee-rounded:hover .nav-arrow.arrow-right:hover { 
    border-right: transparent;
} 


.main-2 .online-advertize-primary{
    display: flex;
}

.marquee-single  .blocks-window  { 
    width: 100%; 
    display: inline-flex; 
    box-sizing: border-box; 
    overflow: hidden;
} 

.online-item .online-item-link .online-advertize-item-image  { 
    display: inline-block; 
    box-sizing: border-box; 
    width: 100%; 
    height: 100%; 
    -o-object-fit: cover; 
    object-fit: cover; 
    transition: all .5s;
} 

.online-item .online-item-link .online-advertize-item-image:hover  { 
    transform: scale(1.1);
} 

.online-advertize-item .online-item-link .online-advertize-item-image:hover  { 
    transform: scale(1.1);
}

.marquee-single .blocks-window .blocks-belt  { 
    width: 100%; 
    overflow: visible; 
    display: inline-block; 
    box-sizing: border-box; 
    white-space: nowrap; 
    transition: all .8s;
} 



.marquee-single .blocks-window .blocks-belt .block-con  { 
    display: inline-block; 
    box-sizing: content-box;
} 

.online-advertize-item  { 
    display: block; 
    box-sizing: border-box; 
    width: 100%;
} 

.online-advertize-item .online-item-link  { 
    display: block; 
    box-sizing: border-box; 
    text-decoration: none; 
    position: relative; 
    background-color: #f0f2f5; 
    overflow: hidden;
} 

.online-advertize-item .online-item-link .online-advertize-item-image  { 
    display: block; 
    box-sizing: border-box; 
    width: 100%; 
    height: 100%; 
     
    object-fit: cover; 
    transition: all .2s;
} 

.online-advertize-item .onlineitem-link .online-advertize-item-image:hover { 
    transform: scale(1.1);
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-l1.style-l1 {  
   height:188px;  
   width:376px;  
}  
