@import url('https://fonts.cdnfonts.com/css/sf-pro-display?styles=98774,98777,98776,98772,98773,98775,98770,98771,98769');


@import url('https://fonts.cdnfonts.com/css/sf-ui-text-2?styles=17879,17880,17875,17876,17877,17878,17881,17882,17871,17872,17873,17874');


@font-face { 
    font-family:Trip Geom;
    src:url(https://ak-s.tripcdn.com/modules/ibu/online-assets/TripGeom-Bold.d2c7fca737ec10dbe984727e847e2048.eot?t=1684398294023);
    src:url(https://ak-s.tripcdn.com/modules/ibu/online-assets/TripGeom-Bold.d2c7fca737ec10dbe984727e847e2048.eot?t=1684398294023#iefix) format("embedded-opentype"),url(https://ak-s.tripcdn.com/modules/ibu/online-assets/TripGeom-Bold.9e9e0eb59209311df954413ff4957cbb.woff2?t=1684398294023) format("woff2"),url(https://ak-s.tripcdn.com/modules/ibu/online-assets/TripGeom-Bold.e1ffc04f118b039770cd5d9cfb692c39.woff?t=1684398294023) format("woff"),url(https://ak-s.tripcdn.com/modules/ibu/online-assets/TripGeom-Bold.d3f7654e192b14a59b1b2ebb3843d77c.ttf?t=1684398294023) format("truetype"),url(https://ak-s.tripcdn.com/modules/ibu/online-assets/TripGeom-Bold.24e583596080147b56d411a7fa82cfa6.svg?t=1684398294023) format("svg");
    font-weight:600 700;
    font-weight:700;
    font-display:swap;
  } 
  @font-face { 
    font-family:Trip Geom;
    src:url(https://ak-s.tripcdn.com/modules/ibu/online-assets/TripGeom-Medium.37edc106b493abeae851e30be2ea25eb.eot?t=1684398294023);
    src:url(https://ak-s.tripcdn.com/modules/ibu/online-assets/TripGeom-Medium.37edc106b493abeae851e30be2ea25eb.eot?t=1684398294023#iefix) format("embedded-opentype"),url(https://ak-s.tripcdn.com/modules/ibu/online-assets/TripGeom-Medium.c01bb95e18e1b0d0137ff80b79b97a38.woff2?t=1684398294023) format("woff2"),url(https://ak-s.tripcdn.com/modules/ibu/online-assets/TripGeom-Medium.5dbaa8ef713d97651289bd6c83942e25.woff?t=1684398294023) format("woff"),url(https://ak-s.tripcdn.com/modules/ibu/online-assets/TripGeom-Medium.7c03e754eb34c4747bf0b87dfeba0ce9.ttf?t=1684398294023) format("truetype"),url(https://ak-s.tripcdn.com/modules/ibu/online-assets/TripGeom-Medium.c7feeb9868059f0a55b16d9eca9ae507.svg?t=1684398294023) format("svg");
    font-weight:500;
    font-display:swap;
  } 
  @font-face { 
    font-family:Trip Geom;
    src:url(https://ak-s.tripcdn.com/modules/ibu/online-assets/TripGeom-Regular.8eb2bf92277fd3bca27bc2fcb01683c0.eot?t=1684398294023);
    src:url(https://ak-s.tripcdn.com/modules/ibu/online-assets/TripGeom-Regular.8eb2bf92277fd3bca27bc2fcb01683c0.eot?t=1684398294023#iefix) format("embedded-opentype"),url(https://ak-s.tripcdn.com/modules/ibu/online-assets/TripGeom-Regular.ba9c64b894f5e19551d23b37a07ba0a4.woff2?t=1684398294023) format("woff2"),url(https://ak-s.tripcdn.com/modules/ibu/online-assets/TripGeom-Regular.e614e4cf6f24547aeb01ebe31a206df0.woff?t=1684398294023) format("woff"),url(https://ak-s.tripcdn.com/modules/ibu/online-assets/TripGeom-Regular.ef75d05fa74feb48b0a393793f43bfa4.ttf?t=1684398294023) format("truetype"),url(https://ak-s.tripcdn.com/modules/ibu/online-assets/TripGeom-Regular.6502eea3ff5d0428c7aa92302b86da01.svg?t=1684398294023) format("svg");
    font-weight:400;
    font-display:swap;
  } 
    body {  
      font-family:BlinkMacSystemFont,-apple-system,Roboto,Helvetica,Arial,sans-serif;
      background:#fff;
      font-size:12px;
    }  
  * { 
      font-family: BlinkMacSystemFont,-apple-system,Roboto,Helvetica,Arial,sans-serif;
  } 
  
  * { 
      font-family: Trip Geom,BlinkMacSystemFont,-apple-system,Roboto,Helvetica,Arial,sans-serif;
  } 
  
  * { 
      margin: 0; 
      padding: 0;
  } 
  
  body { 
      font-family: BlinkMacSystemFont,-apple-system,Roboto,Helvetica,Arial,sans-serif;
  } 
  
  body { 
      margin: 0; 
      padding: 0; 
      font-size: 12px;
  } 
  
  body { 
      font-family: Trip Geom,BlinkMacSystemFont,-apple-system,Roboto,Helvetica,Arial,sans-serif!important;
  } 
  
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}   
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'SF UI Text', sans-serif;
 }
 
  

 :root{
    --sky-blue:rgb(50,100,255);
    --white:rgb(255,255,255);
    --light-white:hsla(0,0%,100%,.3);
    --header-color:rgb(205,216,252);
    
 }
.header-left{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
}
nav{
    font-family: 'SF UI Text', sans-serif;
    font-weight: 200;
                                                
}
.header-left .search{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color:var(--white);
    align-items: center;
    justify-content: space-between;
    padding: 0 3px ;
    border-radius: 4px;
    
}
.search input, button{
    padding: 10px;
    float: left;
    border-style: none;
    margin: 1px 0 1px 0;
}
.search input{
    width: 15rem;
}


.header-top{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;    
    margin: 10px 0px 10px 0px;
    padding: 2px;
}
.search button{
    background-color: var(--sky-blue);
    border-radius:4px;
    color: var(--white);

}
.header-right{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;

}
.header-right .b{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.bg{
    background-image: url("./assests/head-banner-bg-new-1920.webp");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-right .a{
    color: var(--white);
    align-content: center;
    padding: 0.5rem;
}
.header-right .a:hover{
    background-color: var(--light-white);
    border-radius: 5px;
}


.header-right img{
    width: 25px;
    
}

.logo{
    width: 10rem;
    height: 3rem;
}

/* body{
 background-image: url(./assests/head-banner-bg-new-1920.webp);
 filter: brightness(100%);
 background-repeat: no-repeat;
 width: 100%;
 background-size: 150%;
 
} */

.header-right .Search-bookings{
    border-radius: 4px;
    background-color: var(--light-white);
    color: var(--white); 
    height: 32px;
}
.header-right .Search-bookings:hover{
    background-color: var(--white);
    color: var(--sky-blue);

}
.header-right .sign{
    border-radius: 4px;
    height: 32px;
    background-color: white;
    
}
.header-right .sign:hover{
    text-align: center;
    color: var(--sky-blue);
}

.below-header{
    width: 75%;
    
}
.below-header ul { 
  margin: 150px auto 0; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 600px;
  text-align: center;
}
.below-header li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
.below-header  a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.below-header a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.25s ease-out;
  width: 0;
}

.below-header a:hover:after { 
  width: 100%; 
  left: 0; 
}
.below-header .pages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.below-header .pages  .page  p a{
    text-decoration: none;
    color: var(--header-color);
   
   

}
@media screen and (max-width: 900px){ 
    .below-header .pages .page .p2 {
      display: none;
    }
  }
 

.below-header .pages  .page  a:hover{
    color: white;

}

.below-header .pages .page p{
    display: inline-block;
    position: relative;
    color: #0087ca;

  }
  
  .below-header .pages .page p::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  below-header .pages .page p :hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.header{
 margin: 0 30px;
}



.A{
   margin: 5rem;

}


.A .trip-sections .trip-header{
    color: #fff;
    font-family: 'SF UI Text', sans-serif;
    font-size: 36px;
    font-weight: 700;
   text-align: center;
    width: 100%;
}
.A .trip-sections{
    margin-bottom: 40px;
}
.trip-elements{
align-items: center;
gap: 10px;
margin-top: 20px;
}
.trip-sections .trip-elements{
    width: 100%;
    display: flex;
    flex-direction: row;
  justify-content: center;
}
.trip-elements img{
    width: 20px;
    
}
.trip-elements .sub-elements{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'SF UI Text', sans-serif;
    font-weight: 100;
    color: var(--white);
    text-overflow: ellipsis;
}
.trip-elements  .seperate{
    display: inline-block;
    width: 2px;
    height: 12px;
    padding-left: 12px;
    box-sizing: border-box;
    border-left: 1px solid #ced2d9;
}
.trip-elements .sub-elements .line{
    width: 100%;
    height: 0;
    border-bottom: 1px dashed var(--white);
}
.search-box .options-container{
    position: relative; 
      margin-top: -23px; 
      top: 23px; 
      display: flex; 
      justify-content: center; 
      z-index: 1;
}

.search-box .options-container ul, li {
    
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    z-index: 3;
}
 
.options-container ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.options-container::before{
    content: "";
    display: table;
}



.option-container { 
    position: relative; 
    padding-top: 40px;
} 

.option-container  { 
    padding-top: 0;
} 

.option-1 { 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 10;
} 

.option-1  { 
    position: relative; 
    margin-top: -23px; 
    top: 23px; 
    display: flex; 
    justify-content: center; 
    z-index: 1;
} 

.option-x:after,.option-x:before { 
    content: ""; 
    display: table;
} 

.option-a:after { 
    clear: both;
} 

.box-forms { 
    min-height: 160px; 
    background-color: #fff; 
    border-radius: 0 2px 2px 2px;
} 

.box-forms.box-radius { 
    border-radius: 2px;
    position: relative;
    top: 10px;
} 

.box-forms  { 
    border-radius: 8px; 
    padding-top: 23px;
} 

.box-formss.box-radius  { 
    border-radius: 8px;
} 

ul { 
    margin: 0; 
    list-style: none;
} 

ul { 
    padding: 0;
} 

.option-tabs  { 
    background: rgba(6, 32, 68, 0.8); 
    -webkit-backdrop-filter: blur(6px); 
    backdrop-filter: blur(6px); 
    display: flex; 
    justify-content: center; 
    border-radius: 46px; 
    position: relative; 
    z-index: 2; 
    padding: 7px;
} 

.option-item { 
    float: left; 
    font-size: 16px; 
    color: #fff; 
    height: 40px; 
    line-height: 40px; 
    padding: 0 24px; 
    cursor: pointer; 
    
} 

.option-item  { 
   
    position: relative; 
    padding: 5px 16px; 
    text-align: center; 
    line-height: 21px; 
    height: 22px; 
    border-radius: 32px; 
    color: #fff;
} 

.option-item:not(:last-child)  { 
    margin-right: 16px;
} 

.option-item.is-active { 
    background-color: #fff; 
    color: #0f294d; 
    border-radius: 2px 2px 0 0; 
    cursor: default;
} 

.option-item.is-active  { 
    background-color: #fff; 
    color: #0f294d;
    border-radius: 20px;

} 

.search-box-icon { 
    box-shadow: 0 8px 10px 0 rgba(15,41,77,.08);
} 

#searchboxicon .search-box-icon  { 
    box-shadow: none; 
    border-bottom-right-radius: 8px; 
    border-bottom-left-radius: 8px;
} 

.hotel-box { 
    font: 12px/1.5 Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-weight: 400;
} 

.hotel-box { 
    width: 100%; 
    min-width: 704px; 
    margin: 0 auto; 
    padding: 24px; 
    background: #fff; 
    box-sizing: border-box; 
    border-radius: 8px;
} 

     

#searchboxicon .search-box-icon > div  { 
    box-shadow: none; 
    border-bottom-right-radius: 8px; 
    border-bottom-left-radius: 8px;
} 

#searchboxicon .search-box-icon > div  { 
    padding-top: 25px!important;
} 

.hotel-box .ul-block  { 
    margin: 0; 
    padding: 0; 
    list-style: none;
} 

.hotel-box .ul-block  { 
    width: 100%; 
    list-style: none; 
    display: flex; 
    flex-wrap: wrap;
    gap: 10px;
} 

    

.hotel-box .sub-choice  { 
    display: flex; 
    align-items: center; 
    margin-top: 16px;
} 

.hotel-box li  { 
    margin: 0; 
    padding: 0; 
    list-style: none;
} 

.hotel-box .ul-block .li-item  { 
    display: inline-block; 
    vertical-align: top; 
    box-sizing: border-box;
} 



  .hotel-box .isSearchBarVersionB .ul-block .li-item-destination  { 
    flex: 1 1; 
    min-width: 200px;
  } 

  .hotel-box.isSearchBarVersionB .ul-block .li-item-calendar  { 
    flex: 1 1; 
    min-width: 292px;
  } 

  .hotel-box .isSearchBarVersionB .ul-block .li-item:not(:first-child)  { 
    margin-left: 8px;
  } 

  .hotel-box.isSearchBarVersionB .ul-block .li-item-roomguest  { 
    flex: 1 1;
  } 


.hotel-box .ul-block .li-item-btn  { 
    
    overflow: hidden;
} 

     

.travel-container { 
    display: inline-flex; 
    align-items: center;
} 

.star-rate-container { 
    display: inline-flex; 
    align-items: center;
} 

.search-container { 
    position: relative; 
    width: 100%; 
    height: 100%;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 7px;
} 

.calendar-container { 
    display: inline-flex; 
    justify-content: space-between; 
    position: relative; 
    width: 100%; 
    height: 100%;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 7px;
} 

.room-guest-container { 
    width: 100%; 
    height: 100%; 
    min-width: 160px; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    user-select: none; 
    position: relative; 
    outline: none;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 7px;
} 

.search-btn-wrap { 
    background: #3264ff; 
    width: 100%; 
    height: 100%; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    color: #fff; 
    border: none; 
    cursor: pointer;
    border-radius: 7px;
} 

.search-btn-wrap:hover { 
    background: #264cc2;
} 

.travel-container *  { 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    user-select: none;
} 

.travel-container .label  { 
    display: inline-flex; 
    align-items: center; 
    cursor: pointer; 
    color: #333!important;
} 

.hotel-box .label  { 
    font-size: 12px; 
    letter-spacing: 0; 
    text-align: left; 
    line-height: 18px; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    user-select: none; 
    display: inline-block; 
    color: #8592a6;
} 

.main-2{
    background-color: var(--white);
}

.travel-container .label:hover { 
    color: #3264ff!important;
} 

.smarticon { 
    font-family: smarticon!important; 
    font-size: 16px; 
    font-style: normal; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

.hotel-box i  { 
    font-weight: 400; 
    font-style: normal;
} 

.travel-container .tip  { 
    font-size: 16px; 
    margin-right: 10px;
} 

.travel-container .tip  { 
    color: #0f294d; 
    cursor: default; 
    outline: none;
} 

.u-icon-ic_new_info:before { 
    content: "\E91F";
} 

.travel-container .tip::before { 
    color: #0f294d;
} 

.travel-container .business  { 
    position: fixed; 
    width: 300px; 
    transform: translateX(-50%); 
    background: #fff; 
    padding: 14px 10px; 
    border-radius: 4px; 
    box-shadow: 0 -2px 14px 0 rgba(100,147,227,.3); 
    z-index: 10; 
    font-size: 12px;
} 

.travel-container .business::after { 
    content: ""; 
    border: 12px solid transparent; 
    border-bottom-color: #fff; 
    position: absolute; 
    top: -20px; 
    left: 50%; 
    transform: translateX(-50%);
} 

.star-rate-container *  { 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    user-select: none;
} 

.star-rate-container .star-rate  { 
    margin-right: 6px; 
    cursor: pointer; 
    font-size: 14px; 
    color: #333; 
    line-height: 18px; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    user-select: none; 
    display: inline-block;
} 

.star-rate-container .rate  { 
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    background: #f0f2f5; 
    border-radius: 4px 4px 4px 4px; 
    width: 53px; 
    height: 22px; 
    margin-right: 6px; 
    font-size: 14px; 
    color: #0f294d; 
    cursor: pointer; 
    border: 1px solid transparent;
} 

.star-rate-container .rate:hover { 
    color: #3264ff;
} 

.search-container .search-box  { 
    position: relative; 
    height: calc(100% - 2px); 
    display: flex; 
    margin: 0 16px; 
    width: calc(100% - 32px);
} 

 .search-container .search-box:hover { 
    outline: none; 
    border-bottom: 2px solid #3264ff; 
    border-radius: 0; 
    margin-bottom: -2px;
} 

.calendar-container .time-tab  { 
    position: absolute; 
    width: calc(50% - 24px); 
    height: 100%;
} 

.calendar-container .time-tab.checkin  { 
    top: 0; 
    left: 0;
} 

.calendar-container .nights  { 
    position: absolute; 
    font-size: 14px; 
    color: #0f294d; 
    line-height: 18px; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%); 
    z-index: 3; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    user-select: none;
} 

.calendar-container .time-tab.checkout  { 
    top: 0; 
    right: 0;
} 

.room-guest-container *  { 
    box-sizing: border-box; 
    color: unset;
} 

.room-guest-container .room-guest  { 
    width: 100%; 
    height: 100%; 
    position: relative; 
    padding: 6px 16px;
} 

.room-guest-container .room-guest:hover { 
    padding: 6px 0; 
    margin: 0 16px; 
    width: calc(100% - 32px); 
    border-bottom: 2px solid #3264ff;
} 

.room-guest-container .choice  { 
    position: absolute; 
    top: calc(100% + 12px); 
    border-radius: 8px; 
    z-index: 9; 
    left: -1px; 
    background: #fff; 
    width: 300px; 
    padding: 16px 0 16px 16px; 
    border: 1px solid #ddd; 
    cursor: pointer;
} 

p { 
    margin: 0;
} 

.search-btn-wrap .search-block  { 
    display: flex;
    padding: 0 16px; 
    font-size: 18px;
} 

.travel-container .checkbox  { 
    font-size: 16px; 
    margin-right: 10px;
} 

.u-icon-checkbox:before { 
    content: "\E680";
} 

.travel-container .tips  { 
    font-size: 14px; 
    margin-right: 5px;
} 

.travel-container .business .icon-business  { 
    font-size: 16px; 
    position: relative; 
    top: -3px;
} 

.u-icon-ic_new_fa_business:before { 
    content: "\E9B7";
} 

.travel-container .business p  { 
    margin-left: 10px; 
    line-height: 1.3;
} 

.hotel-box em  { 
    font-weight: 400; 
    font-style: normal;
} 

.hotel-box em  { 
    font-style: unset;
} 

.star-rate-container em  { 
    font-style: normal;
} 

.star-rate-container .rate .star-rate-icon  { 
    margin-left: 4px; 
    font-size: 14px;
} 

.u-icon-ic_new_star_line:before { 
    content: "\E8D7";
} 

.search-container .search-box label  { 
    position: absolute; 
    top: 8px; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap; 
    max-width: calc(100% - 16px);
} 

.search-container .search-box .inputBarWidth  { 
    width: -moz-min-content; 
    width: min-content; 
    max-width: 100%; 
    overflow: hidden;
} 

.search-container .search-box label.searchBarVersionBLabel  { 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap; 
    padding: 32px 0 0; 
    line-height: 16px; 
    font-size: 12px; 
    color: #8592a6; 
    position: unset; 
    flex-basis: content; 
    flex-shrink: 0; 
    margin-left: 4px; 
    max-width: 50%;
} 

.calendar-container .time-tab .in  { 
    position: absolute; 
    top: 8px; 
    left: 16px;
} 

.hotel-box input  { 
    outline: 0; 
    background: transparent;
} 

.hotel-box.show-hightlight  { 
    font-weight: 700; 
    font-size: 14px; 
    color: #0f294d!important; 
    letter-spacing: 0; 
    text-align: left; 
    line-height: 22px;
} 

.calendar-container .time-tab .focus-input  { 
    width: calc(100% - 32px); 
    height: 100%; 
    padding: 26px 0 0; 
    margin: 0 16px; 
    border: none; 
    border-bottom: 2px solid transparent; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    box-sizing: border-box; 
    outline: none;
} 

.calendar-container .time-tab .out  { 
    position: absolute; 
    top: 8px; 
    right: 16px;
} 

.calendar-container .time-tab .out-time  { 
    text-align: right;
} 

.room-guest-container .room-guest .label  { 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap; 
    max-width: calc(100% - 16px);
} 

.room-guest-container .room-guest .info  { 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
} 

.room-guest-container .room-guest .material-symbols-outlined  { 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    right: 10px; 
    font-size: 16px;
} 

.u-icon-ic_new_dropdown_line:before { 
    content: "\E8C5";
} 

.room-guest-container .choice-content  { 
    max-height: 366px; 
    overflow-y: scroll; 
    padding-right: 16px; 
    margin-right: -6px;
} 

.room-guest-container .choice-content::-webkit-scrollbar { 
    width: 4px;
} 

.room-guest-container .choice-content::-webkit-scrollbar-thumb { 
    border-radius: 0; 
    background-color: #b6bec9;
} 

.room-guest-container .done  { 
    text-align: right; 
    margin-top: 16px; 
    margin-right: 16px;
} 

.search-btn-wrap .icon-search  { 
    font-size: 16px; 
    margin-right: 5px;
} 

.u-icon-ic_new_search_line:before { 
    content: "\E8D6";
} 

.search-container .search-box #hotels-destination  { 
    box-sizing: border-box; 
    height: 100%; 
    padding: 26px 0 0; 
    width: 100%; 
    border: none; 
    border-bottom: 2px solid transparent; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    font-weight: 700;
} 

.search-container .search-box #input-length-cacl  { 
    visibility: hidden; 
    position: relative; 
    font-weight: 700; 
    font-size: 14px; 
    margin-right: 4px; 
    white-space: nowrap;
} 

.room-guest-container .child-kid  { 
    margin-bottom: 15px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
} 

.room-guest-container .done span  { 
    display: inline-block; 
    color: #fff; 
    border-radius: 4px; 
    background: #3264ff; 
    cursor: pointer; 
    font-size: 14px; 
    min-width: 72px; 
    line-height: 34px; 
    height: 34px; 
    text-align: center;
} 

.room-guest-container .child-kid .label  { 
    display: inline-block;
} 

.room-guest-container .actions  { 
    display: flex; 
    align-items: center;
} 

.room-guest-container .child-kid .label .title  { 
    color: #0f294d; 
    font-size: 16px;
} 

.room-guest-container .child-kid .label .sub-title  { 
    display: block; 
    font-size: 12px; 
    line-height: 1; 
    color: #6b8299;
} 

.room-guest-container .actions .icon-btn  { 
    width: 24px; 
    height: 24px; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    border-width: 1px; 
    border-style: solid; 
    border-radius: 50%; 
    background: #fff; 
    color: #3264ff; 
    vertical-align: middle;
} 

.room-guest-container .actions .icon-btn.disabled  { 
    cursor: default; 
    border-color: #dadfe6; 
    color: #dadfe6;
} 

.room-guest-container .actions .icon-btn:hover { 
    background: #3264ff; 
    border: 1px solid #3264ff; 
    color: #fff; 
    cursor: pointer;
} 

.room-guest-container .actions .count  { 
    font-size: 18px; 
    color: #0f294d; 
    width: 36px; 
    text-align: center;
} 

.room-guest-container .actions .icon-btn .action-btn  { 
    position: relative; 
    font-weight: 700; 
    -moz-user-select: none; 
    user-select: none; 
    -webkit-user-select: none;
} 

.u-icon-ic_minus:before { 
    content: "\E6A2";
} 

.u-icon-ic_plus:before { 
    content: "\E6B0";
} 
#style-1.style-1 {  
   min-height: unset;  
}  
#style-2.style-2 {  
   display: block;  
}  
#style-JPr7A.style-JPr7A {  
   display: none;  
}  
#style-oBjjo.style-oBjjo {  
   margin-right: 30px;  
}  
#style-xEHGV.style-xEHGV {  
   display: none;  
    pointer-events: auto;  
    left: 7px;  
    top: 30px;  
}  



.promotion.image-box {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 540px;
}
.promotion.image-box img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}

.promotion .image-box:hover img {
    transform: scale(0.9);
}


.online-item  { 
    transform: translateZ(0); 
    border-radius: 8px; 
    overflow: hidden;
} 

.online-item  { 
    display: inline-block; 
    box-sizing: border-box; 
    width: 768px; 
    height: 188px; 
    margin-right: 16px;
} 

.marquee-single { 
    display: inline-block; 
    box-sizing: border-box; 
    line-height: 0; 
    padding: 0; 
    position: relative;
} 

.marquee-single  { 
    transform: translateZ(0); 
    border-radius: 8px; 
    overflow: hidden;
} 

a { 
    color: #333; 
    text-decoration: none;
} 

.online-item .online-advertize-item-link  { 
    width: 100%; 
    height: 100%; 
    display: inline-block; 
    box-sizing: border-box; 
    text-decoration: none; 
    overflow: hidden;
} 

.marquee-single .nav-arrow  { 
    position: absolute; 
    z-index: 10; 
    cursor: pointer; 
    background: #fff; 
    border: 1px solid #f0f2f5; 
    box-sizing: border-box; 
    text-align: center; 
    display: block; 
    background-position: 50%; 
    background-repeat: no-repeat; 
    background-color: #fff; 
    transition: all .3s; 
    opacity: 0; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat;
} 

.marquee-single .nav-arrow.arrow-left  { 
    left: 0;
} 

.marquee-single .marquee-rounded .nav-arrow  { 
    width: 32px; 
    height: 40px; 
    top: calc(50% - 20px); 
    background-size: 20px 20px;
} 

.nav-arrow.arrow-left  { 
    z-index: 1;
} 

.marquee-single .marquee-rounded .nav-arrow.arrow-left  { 
    border-radius: 0 20px 20px 0; 
    border-left: 0; 
    background-position-x: 0; 
    background-image: url(https://ak-s.tripcdn.com/modules/ibu/online-home/54938278a32438a7178092b3c3331ff9.54938278a32438a7178092b3c3331ff9.svg);
} 

.marquee-single:hover .nav-arrow { 
    opacity: .8;
} 

.marquee-single .nav-arrow:hover { 
    background-color: #3264ff; 
    border: 1px solid #3264ff; 
    opacity: 1;
} 

.marquee-single .marquee-rounded:hover .nav-arrow { 
    opacity: 1; 
    background-color: hsla(0,0%,100%,.9);
} 

.marquee-single .marquee-rounded:hover .nav-arrow:hover { 
    background-color: #3264ff; 
    border: 1px solid #3264ff; 
    opacity: 1;
} 

 .marquee-single .marquee-rounded .nav-arrow.arrow-left:hover { 
    background-image: url(https://ak-s.tripcdn.com/modules/ibu/online-home/a53278b07986c091196890d3c5c8eeaa.a53278b07986c091196890d3c5c8eeaa.svg);
} 

.marquee-single.marquee-rounded:hover .nav-arrow.arrow-left:hover { 
    border-left: transparent;
} 

.marquee-single .nav-arrow.arrow-right  { 
    right: 0;
} 

.nav-arrow.arrow-right  { 
    z-index: 1;
} 

.marquee-single .marquee-rounded .nav-arrow.arrow-right  { 
    border-radius: 20px 0 0 20px; 
    border-right: 0; 
    background-position-x: 10px; 
    background-image: url(https://ak-s.tripcdn.com/modules/ibu/online-home/81abc8852a139d3ac893fdfb3a36eba4.81abc8852a139d3ac893fdfb3a36eba4.svg);
} 

 .marquee-single .marquee-rounded .nav-arrow.arrow-right:hover { 
    background-image: url(https://ak-s.tripcdn.com/modules/ibu/online-home/5a2a7199692380d56b711774f6c165b4.5a2a7199692380d56b711774f6c165b4.svg);
} 

.marquee-single  .marquee-rounded:hover .nav-arrow.arrow-right:hover { 
    border-right: transparent;
} 


.main-2 .online-advertize-primary{
    display: flex;

        margin: auto; 
    width: 100%;
    
}



.online-item .online-item-link .online-advertize-item-image  { 
    display: inline-block; 
    box-sizing: border-box; 
    width: 100%; 
    height: 100%; 
    -o-object-fit: cover; 
    object-fit: cover; 
    transition: all .5s;
} 

.online-item .online-item-link .online-advertize-item-image:hover  { 
    transform: scale(1.1);
} 

.online-advertize-item .online-item-link .online-advertize-item-image:hover  { 
    transform: scale(1.1);
}



.home-inner{
    margin-top: 80px;
}



.online-advertize-item  { 
    display: block; 
    box-sizing: border-box; 
    width: 100%;
} 

.online-advertize-item .online-item-link  { 
    display: block; 
    box-sizing: border-box; 
    text-decoration: none; 
    position: relative; 
    background-color: #f0f2f5; 
    overflow: hidden;
} 

.online-advertize-item .online-item-link .online-advertize-item-image  { 
    display: block; 
    box-sizing: border-box; 
    width: 100%; 
    height: 100%; 
     
    object-fit: cover; 
    transition: all .2s;
} 

.online-advertize-item .onlineitem-link .online-advertize-item-image:hover { 
    transform: scale(1.1);
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-l1.style-l1 {  
   height:188px;  
   width:376px;  
}  
.properties{
    position: relative;
}
.properties-container{
    margin: auto;
    width: 1160px;
    position: relative;
}
.properties-container .sub-container{
    overflow: hidden;
    padding: 24px;
    border-radius: 8px;
}

.properties-container .sub-container .title{

    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sub-container .property-small-ele{
    margin-top: 16px;
    display: flex;
    position: relative;
}





  

.recommended-module { 
    padding: 0; 
    margin: 0 0 64px; 
    text-align: center;
} 

.recommended-module.recomended-hotel-new-theme { 
    overflow: hidden; 
    padding: 24px; 
    border-radius: 8px; 
    
    background-color: rgb(252, 249, 246);
} 

.recommended-module:last-child { 
    margin-bottom: 32px;
} 

.recommended-module.new-theme:last-child { 
    margin-bottom: 0;
} 

.module-title { 
    font-size: 28px; 
    color: #0f294d; 
    letter-spacing: 0; 
    text-align: center; 
    line-height: 34px; 
    font-weight: 700;
} 

.recommended-module.new-theme .module-title  { 
    text-align: left; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    line-clamp: 2; 
    -webkit-line-clamp: 2; 
    word-break: break-word;

} 

.module-usp-container { 
    margin-top: 16px; 
    display: flex; 
    position: relative;
} 

.tab-switch { 
    width: 100%; 
    overflow: visible;
} 

.module-usp-container .module-usp-item  { 
    display: flex;
    line-height: 18px; 
    margin-right: 16px;
} 

.module-usp-p { 
    max-width: 670px; 
    position: fixed; 
    transform-origin: center top; 
    box-shadow: 0 4px 8px 0 rgba(15,41,77,.08); 
    border-radius: 4px 4px 4px 4px; 
    background: #fff; 
    color: #0f294d; 
    font-size: 14px; 
    line-height: 22px; 
    letter-spacing: 0; 
    padding: 16px; 
    transition: opacity .3s; 
    opacity: 0; 
    pointer-events: none; 
    z-index: 1099;
} 

.tab-switch .tab-con  { 
    position: relative; 
    text-align: center; 
    padding: 0; 
    width: 100%;
} 

.tab-switch.new-theme .tab-con  { 
    text-align: left; 
    padding: 0;
} 

.tab-switch .content-con  { 
    position: relative; 
    text-align: center;
} 

.module-usp-container .module-usp-item .recommend-module-usp-icon  { 
    width: 16px; 
    vertical-align: -2px; 
    margin-right: 4px;
} 

.module-usp-container .module-usp-item .module-usp-text-icon { 
    display: inline-block;
} 

.recommend-module-usp-popover .popover__arrow  { 
    width: 11.3137px; 
    height: 11.3137px; 
    background-color: #fff; 
    position: absolute; 
    bottom: -5.5px; 
    transform: rotate(-45deg); 
    border-bottom-left-radius: 2px;
} 

.tab-switch .tab-con .tile-tab  { 
    width: 100%; 
    position: relative; 
    overflow-x: hidden;
} 

.new-list { 
    display: flex;
    width: 100%;
} 

.module-usp-container .module-usp-item .module-usp-text-icon .module-text { 
    color: #0f294d; 
    font-size: 14px; 
    font-weight: 500; 
    vertical-align: top;
} 

.module-usp-container .module-usp-item  .title-dashline  { 
    display: block; 
    width: 100%; 
    height: 0; 
    border-bottom: 1px dashed #0f294d;
} 

.tab-switch .tab-con .tile-tab .js-tab-wrapper  { 
    padding: 24px 0; 
    overflow-x: visible; 
    will-change: transform; 
    white-space: nowrap; 
    transition: transform .2s linear 0s;
} 

.tab-switch .new-theme .tab-con .tile-tab .js-tab-wrapper  { 
    padding: 20px 0;
} 

.l-tile { 
    display: inline-block; 
    padding: 0 8px 20px; 
    box-sizing: border-box;
} 

.c-hot-1 { 
    vertical-align: top; 
    text-align: left;
} 

.new-list .l-tile { 
    display: flex; 
    padding: 0 16px 0 0; 
    box-sizing: content-box;
} 
   


a { 
    color: #333; 
    text-decoration: none;
} 

.recommend-card { 
    border-radius: 8px; 
    background-color: #fff; 
    box-shadow: 0 8px 16px 0 rgba(15,41,77,.08); 
    display: flex; 
    flex-direction: column; 
    overflow: hidden; 
    text-decoration: none; 
    color: inherit; 
    cursor: auto; 
    position: relative; 
    min-height: 240px; 
    transform: translateZ(0);
} 

    

.recommend-card:hover { 
    box-shadow: 0 12px 24px 0 rgba(15,41,77,.12);
} 

.recommended-module.recomended-hotel-new-theme .tab-item  { 
    background: #fff;
} 

.tab-switch .tab-con .tile-tab .js-tab-wrapper .tab-item  { 
    cursor: pointer; 
    display: inline-block; 
    font-size: 14px; 
    line-height: 18px; 
    padding: 8px 16px; 
    margin-right: 16px; 
    border: 1px solid #dadfe6; 
    border-radius: 4px; 
    color: #0f294d;
} 

.tab-switch .new-theme .tab-con .tile-tab .js-tab-wrapper .tab-item  { 
    border-radius: 4px; 
    box-shadow: 0 8px 16px 0 rgba(15,41,77,.08); 
    border-color: transparent;
} 

.tab-switch .tab-con .tile-tab  .tab-item.is-active  { 
    font-weight: 700; 
    border-color: rgba(50,100,255,.0784313725490196); 
    color: #ffffff; 
    background-color: #0f294d;
} 

.tab-switch .new-theme .tab-con .tile-tab  .tab-item.is-active  { 
    border-color: transparent; 
    color: #fff; 
    background-color: #0f294d;
} 

.tab-switch .tab-con .tile-tab .js-tab-wrapper .tab-item:hover { 
    color: #3264ff;
} 

.new-theme .hotel-item  { 
    border-radius: 8px; 
    box-shadow: 0 8px 16px 0 rgba(15,41,77,.08); 
    background: #fff; 
    overflow: hidden; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    transform: translateZ(0);
} 

.hotel-item:hover { 
    cursor: pointer;
} 

.new-theme .hotel-item:hover { 
    box-shadow: 0 12px 24px 0 rgba(15,41,77,.12);
} 

.recommend-card .rmmc-bg-full  { 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: 50%; 
    transition: transform .2s ease-in-out; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat;
} 

.recommend-card.more-card-hotels .rmmc-bg-full  { 
    background-image: url(https://ak-s.tripcdn.com/modules/ibu/online-home/b0c8dc949e5e03c58041e395601d75a7.b0c8dc949e5e03c58041e395601d75a7.png);
} 

.recommend-card .rmmc-bg-full:hover { 
    transform: scale(1.1);
} 

.recommend-card .rmmc-content  { 
    margin-top: auto; 
    position: relative; 
    z-index: 2; 
    padding: 28px 16px 16px; 
    color: #fff; 
    text-align: left;
} 
.recommend-card .rmmc-content-2 { 
    margin-top: auto; 
    position: relative; 
    z-index: 2; 
    padding: 28px 16px 16px; 
    color: #fff; 
    text-align: left;
} 

.recommend-card.more-card-hotels .rmmc-content  { 
    background: linear-gradient(180deg,transparent,#5a9aa5 48px,#5a9aa5);
} 
.home-2 { 
    background: linear-gradient(180deg,transparent,rgba(93,191,188,.6) 48px,#5dbfbc);
} 

.hotel-item-image { 
    position: relative;
    
} 

.new-theme .hotel-item-content  { 
    flex: 1 1; 
    padding: 16px; 
    display: flex; 
    flex-direction: column;
} 

.recommend-card .rmmc-content .rmmc-content-text  { 
    font-size: 18px; 
    font-weight: 700; 
    line-height: 24px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    line-clamp: 3; 
    -webkit-line-clamp: 3; 
    word-break: break-word;
} 
recommend-card .rmmc-content-2 .rmmc-content-text  { 
    font-size: 18px; 
    font-weight: 700; 
    line-height: 24px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    line-clamp: 3; 
    -webkit-line-clamp: 3; 
    word-break: break-word;
} 

.recommend-card .rmmc-content .rmmc-content-button  { 
    margin-top: 16px; 
    height: 38px; 
    line-height: 38px; 
    font-size: 16px; 
    font-weight: 500; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    background-color: #3264ff; 
    border-radius: 4px; 
    text-align: center; 
    cursor: pointer; 
    padding: 0 8px; 
    transition: background-color .2s;
} 
.recommend-card .rmmc-content-2 .rmmc-content-button  { 
    margin-top: 16px; 
    height: 38px; 
    line-height: 38px; 
    font-size: 16px; 
    font-weight: 500; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    background-color: #3264ff; 
    border-radius: 4px; 
    text-align: center; 
    cursor: pointer; 
    padding: 0 8px; 
    transition: background-color .2s;
} 

.recommend-card .rmmc-content .rmmc-content-button:hover { 
    background-color: #264cc2;
} 
.recommend-card .rmmc-content-2 .rmmc-content-button:hover { 
    background-color: #264cc2;
} 

.hotel-item-image-2 { 
    border-radius: 2px; 
    overflow: hidden; 
    background: #dadfe6;
} 

.c-hot-hotel-item-v2__overlay-label { 
    box-sizing: border-box; 
    width: 100%; 
    margin-top: 16px; 
    font-size: 12px;
} 

.new-theme .c-hot-hotel-item-v2__overlay-label  { 
    margin-top: 0;
} 

.item-review { 
    vertical-align: middle; 
    color: #999; 
    margin: 8px 0; 
    font-size: 12px;
} 

.online-hotel-recommend .hotel-tag-con  { 
    display: flex; 
    box-sizing: border-box; 
    width: 100%;
} 

.info-con { 
    display: flex;
} 

.new-theme .info-con  { 
    margin-top: auto; 
    display: block;
} 

.u-clearfix:after,.u-clearfix:before { 
    content: ""; 
    display: table;
} 

.u-clearfix:after { 
    clear: both;
} 

.c-hot-hotel-item-v2__image { 
    width: 100%; 
    transition: all .2s ease-in-out; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat;
} 

@media screen and (min-width: 1161px){ 
  .c-hot-hotel-item-v2__image { 
    width: 100%; 
    height: 0; 
    padding-top: 197px;
  } 
}     

.new-theme .c-hot-hotel-item-v2__image  { 
    padding-top: 75%;
} 

.c-hot-hotel-item-v2__image:hover { 
    transform: scale(1.1);
} 

.c-hot-hotel-item-v2__name { 
    text-overflow: ellipsis; 
    overflow: hidden; 
    margin-right: 4px; 
    color: #0f294d; 
    font-weight: 700; 
    font-size: 16px; 
    line-height: 22px;
} 

.hotel-score { 
    display: inline-block; 
    background: #496ace; 
    border-radius: 1px; 
    padding: 0 5px; 
    color: hsla(0,0%,100%,.5); 
    font-size: 12px; 
    line-height: 1.3; 
    margin-right: 5px;
} 

.new-theme .hotel-score  { 
    background: #00429b; 
    border-radius: 11px 0 11px 11px; 
    padding: 1px 6px;
} 

.item-review .comments  { 
    display: inline-block; 
    line-height: 22px; 
    font-size: 14px; 
    color: #8592a6; 
    margin-left: 3px;
} 

.new-theme .item-review .comments  { 
    color: #00429b; 
    font-weight: 700;
} 

.online-hotel-recommend .hotel-tag-icon .tag-txt  { 
    font-size: 12px; 
    line-height: 16px; 
    display: inline-block; 
    box-sizing: border-box; 
    flex-shrink: 1; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
} 

.price-box-1 { 
    float: left; 
    box-sizing: border-box; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
} 

.new-theme .price-box-1  { 
    float: none;
} 

.hotel-item-level { 
    line-height: 20px; 
    box-sizing: content-box; 
    display: inline-block; 
    vertical-align: middle; 
    padding-bottom: 2px;
} 

.hotel-score span:first-child  { 
    font-size: 16px; 
    color: #fff;
} 
.new-list .new-2{
    display: flex;
    position: relative;
}

.c-hot-hotel-item-v2 .o-price  { 
    font-size: 16px; 
    color: #3264ff; 
    letter-spacing: 0; 
    text-align: left; 
    line-height: 22px;
} 

.new-theme .c-hot-hotel-item-v2 .o-price  { 
    text-align: right;
} 



.fi-star:before { 
    content: "\E787";
} 

.c-hot-hotel-item-v2 .o-price__from  { 
    font-size: 14px; 
    line-height: 18px; 
    color: #455873; 
    margin-right: 3px;
} 

.new-theme .c-hot-hotel-item-v2 .o-price .o-price__from  { 
    color: #8592a6; 
    line-height: 26px; 
    vertical-align: middle;
} 

.c-hot-hotel-item-v2 .o-price__content  { 
    font-weight: 700;
} 

.new-theme .c-hot-hotel-item-v2 .o-price .o-price__content  { 
    color: #0f294d; 
    font-size: 20px; 
    font-weight: 700; 
    line-height: 26px; 
    vertical-align: middle;
} 


/* These were inline style tags. Uses id+class to override almost everything */
  
#style-XtmEF.style-XtmEF {  
   background-image: url("https://ak-d.tripcdn.com/images/02073120008xnn15u9798_R_550_412_R5_D.jpg");  
}  
#style-9ikqm.style-9ikqm {  
   background-image: url("https://ak-d.tripcdn.com/images/220o0t000000iqaptD11F_R_550_412_R5_D.jpg");  
}  
#style-mrdU2.style-mrdU2 {  
   background-image: url("https://ak-d.tripcdn.com/images/22020z000000myx2r863C_R_550_412_R5_D.jpg");  
}  
#style-q5mc7.style-q5mc7 {  
   background-image: url("https://ak-d.tripcdn.com/images/220413000000ugq7t95FA_R_550_412_R5_D.jpg");  
}  

