@media screen and (max-width:425px) {
    .nav,.right_section{
        display: none;
    }
    .Hamburger{
        display: inline;
    }
    .Top_Part{
        padding: 10px;
}  .logo{
    width: 4em;
    height: 2em;
   }
}